<div style="margin-left: 30%; margin-top: 5%;">
	<form id="chatBox">
		<div>
			<li id="messages">
			</li>
		</div>
		<div>
			<input id="chat" type="text" name="chat" class="chat-box">
		</div>
		<input id="room" type="hidden" value="{{roomId}}">
		<span>
			<button type="submit">send</button>
		</span>
	</form>
</div>