<!DOCTYPE html>
<html lang="tr">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<head>
		<title>Chat App</title>
		<meta charset="utf-8">
		{{#each topJsItem}}
			<script src="{{this}}"></script>
		{{/each}}
	</head>
	<body>
		{{{body}}}
	</body>
</html>
